* {
    margin: 0;
    height: auto;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
}

header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

header nav {
    padding-top: 1em;
    padding-bottom: 3em;
    padding-right: 1em;
}

header nav ul {
    
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.logo {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    float: left;
}

.menu-link {
    padding-top: 0.2em;
    font-size: 1.2em;
    float: right;
}

.menu-link li {
    margin-right: 20px;
}

.posts {   
}

article {
    text-align: justify;
    margin: 1em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

h2 {
    margin-top: 0.5em;
}

p {
    margin-top: 0.5em;
}

button {
    margin-top: 1em;
    padding: 0.5em;
    border-width: 1px;
    border-color: grey;
    background-color: white;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}
